.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
    font-size: 30px;
    color: white;
    padding-left: 20px;
}

.navbar-brand:hover {
    color: rgb(40, 120, 150);
}

.navbar-nav {
    font-size: 25px;
    text-align: center;
}

.navbar-toggle {
    border: 2px solid white;
    margin-right: 25px;
}

.icon-bar {
    background-color: white;
}

.main-title {
    margin-bottom: 15px;
    text-align: center;
    color: #3bfa2c;
    font-size: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
}

li {
    box-sizing: border-box;
    width: 100%;
}

.menu-item {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    color: black;
    display: block;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;  /* More visible hover color */
}

.row {
    margin: 20px;
}

.content-box {
    margin: 20px;
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: "Arial", cursive, sans-serif;
    padding: 20px;
}

.item-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-nav {
        font-size: 20px;
    }

    .main-title {
        font-size: 40px;
    }
}
